-e git+https://github.com/qsd-ag-systeem/ag.git@dacb500e5ed40b2a26398f4d8ce19e1ddb400ea8#egg=Automatisch_Gelaatsherkennings_Systeem
autopep8==2.0.0
click==8.1.3
cmake==3.25.0
colorama==0.4.6
dlib==19.24.0
numpy==1.23.5
opencv-python==4.6.0.66
pycodestyle==2.10.0
tomli==2.0.1
Faker==15.3.3